
body {
    color:aquamarine;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 4%, rgba(9,121,103,1) 54%);
    
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    text-align: center ;
    position: relative;
    
  }
img {
    border: none;
    max: 50%;
    object-position: top;
  }
h1 {
    position: relative;
    width: max-content;
    text-align: center;
    display: grid;
    place-content: center;
    left: 600px;
}
tr,th,table {
    padding-right: 50px;
    margin: auto;
    align-items: center;
    
}

    


h1::before,
h1::after{
    content:" ";
    color:red;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before {
    background: linear-gradient(90deg, rgba(2,0,36,1) 4%, rgba(9,121,103,1) 54%);
    animation: typewriter 2s steps(6)forwards;
    
}

@keyframes typewriter{
    to {left:100%;}
}

.hover:hover {
    text-decoration: underline;
}

.social {
    display: flex;  
    align-items: left;  
    width: 10vw;  
    height: 10vh;  
   
}
